* {
   margin: 0;
}

.body {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.header {
    padding-top: 71px;
    padding-bottom: 60px;
    background-color: #EEEFF1;
}

.logo {
    margin-left: 66px;
}

.menu {
    margin-top: 51px;
}

.menu a {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 42px;
}
/*--------------- */


.design {
    background-color: #EEEFF1;
    padding-bottom: 72px;
}

.design-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
    margin-bottom: 36px;
}

.design-pic {
    margin-bottom: 36px;
}

.design-text {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 70px;
}

.design-link {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    background: #34547A;
    padding: 25px 41px;
}

/*--------------- */

.about {
    padding-top: 71px;
    padding-bottom: 69px;
}

.about h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
    padding-bottom: 49px;
    
}

.about p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.blue-box {
    background-color: #34547A;
    padding-top: 100px;
    padding-bottom: 100px;
}

.blue-box h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 49px;
    
}

.blue-box p {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}


.str {
    background-image: url('../img/bg.jpg');
    background-color: #c6e1e6;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 200px;
    padding-bottom: 200px;
}





.box {
    width: 200px;
    height: 200px;
    background-color: green;
    /* padding-top: 20px; */
    /*padding-left: 30px; */
    /*padding-right: 40px; */
    /*padding-bottom: 20px; */
    /* padding: 10px 20px 30px 40px; */
    /* padding: 40px; */
    /* padding: 20px 50px; */
    /* padding: 10px 50px 100px; */

    /* margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 60px;
    margin-left: 20px; */
    /* margin: 30px; */
    /* margin: 20px 50px; */
    /* margin: 10px 40px 30px; */
    /* margin: 20px 30px 40px 50px; */
}



.h2-title {
    font-weight: bold;
}


.box h2 {
    color: white;
}

.about h2 {
    color: red;
}

.example {
    background-image: url('../img/item.jpg');
    background-color: red;
    width: 100px;
    height: 100px;
}