.header {
    display: flex;
    color: red;
    @media (min-width: 768px) {
        color: green;
    }
    &__bottom {
        display: flex;
        @media (min-width: 768px) {

        }
    }
    &__phone {
        display: inline;
        @media (min-width: 768px) {
            
        }
    }   
}